body {
    background: var(--jaune);
    margin: 0;
    height: 100lvh;
}

main {
    padding-top: 0;
}

.ConnexionAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100lvh;
}

.ConnexionAdmin img {
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: -75px;
    z-index: 10;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--noir);
    border-radius: 15px;
    padding: 85px 40px 40px 40px;
    max-width: 100%;
    width: 30vw;
    box-shadow: 0 0 8px var(--noir);
    position: relative;
}

form h3 {
    margin: 0;
}

form input,
textarea {
    background: var(--noir);
    border: var(--jaune) 1px solid;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    color: var(--blanc);
    height: 40px;
}

form button {
    background: var(--jaune);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 25px 0 0 0;
}

form input {
    padding: 10px;
}

form label,
h3 {
    color: var(--blanc);
}

fieldset {
    border: none;
    padding: 0;
    display: block;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.form-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gauche-trois,
.gauche-deux {
    border-top: var(--noir) 1px solid;
}

span {
    color: var(--jaune);
}

.BackAccueil {
    position: fixed;
    left: 3%;
    top: 5%;
    text-decoration: none;
    color: var(--noir);
}

.BackAccueil:hover {
    text-decoration: underline;
}

.ConnexionOpt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConnexionOpt a:hover {
    text-decoration: underline;
}

.ConnexionCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto 0 0;
}

.ConnexionCheck input {
    max-width: 100%;
    width: 20px;
    accent-color: var(--jaune);
}

.ConnexionMDP {
    margin: 0 0 0 auto;
}

.ConnexionMDP a {
    color: var(--jaune);
    text-decoration: none;
}