body {
    background: #333333;
}

a {
    text-decoration: none;
}

.Gauche {
    padding: 0 0 15px 190px;
    flex-basis: 50%;
    box-sizing: border-box;
}

.Gauche p {
    width: 30vw;
    margin: 0 0 40px 0;
}

.Droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    box-sizing: border-box;
}

.Droite img {
    max-width: 100%;
    width: 30vw;
}

.Arrow {
    position: absolute;
    max-width: 100%;
    width: 100px;
    height: 100px;
    right: 5%;
    bottom: 20lvh;
    transform: translateY(50%);
    border-radius: 100%;
    background: #F0C753;
    z-index: 10;
}

.Arrow div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    border-radius: 100%;
    max-width: 100%;
    width: 70px;
    height: 70px;
}

.Home {
    position: relative;
    height: 89lvh;
    display: flex;
    flex-direction: column;
}

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: #F0C753;
}

.Content h1 {
    font-size: 45px;
    color: #333333;
}

.Content p {
    font-size: 20px;
    color: #333333;
}

.Boutons {
    display: flex;
}

.Decouvrir {
    border-radius: 15px;
    background: #333333;
    padding: 15px;
    margin: 0 40px 0 0;
}

.Decouvrir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    color: #ffffff;
}

.Savoir {
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 15px;
    border: #333333 solid;
    padding: 15px;
    margin: 0 40px 0 0;
    color: #333333;
}

.HomeHero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    height: 20lvh;
    gap: 15vw;
}

.HomeHero div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #ffffff;
    font-weight: bold;
}

.Explication {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    min-height: 89lvh;
    margin: 50px 5vw;
}

.Explication,
.Piliers {
    position: relative;
    overflow: hidden;
}

.honeycomb1 {
    position: absolute;
    top: 100lvh;
    left: 0;
    max-width: 100%;
    width: 20vw;
    z-index: 1000;
}

.honeycomb2 {
    position: absolute;
    max-width: 100%;
    width: 20vw;
    right: 0;
    top: 170lvh;
    z-index: 1000;
}

h3 {
    color: #ffffff;
    font-weight: lighter;
}

h2 {
    font-size: 45px;
    color: #ffffff;
    text-align: center;
}

h2 span {
    color: #F0C753;
}

.ExplicationMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.ExplicationTexte {
    background: #F0C753;
    border-radius: 20px;
    width: 50vw;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ExplicationLogos div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 72.376px;
    margin: 10px 0;
    background: #F0C753;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 20px;
}

.ExplicationLogos svg {
    max-width: 80%;
    max-height: 80%;
}

.Piliers {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 89lvh;
    gap: 10lvh;
    margin: 15lvh 5vw 15lvh 5vw;
}

.Piliers svg {
    transform: scale(0.7);
}

.Passion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 70lvh;
    gap: 10lvh;
    margin: 15lvh 5vw 15lvh 5vw;
}

.Passion img {
    max-width: 100%;
    width: 40vw;
}

.Passion p {
    color: #ffffff;
}

.Check {
    font-weight: bold;
    gap: 15px;
    display: flex;
    align-items: center;

}

.PassionDroite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.PassionDroite h2 {
    text-align: left;
}

.Marche {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    height: 70lvh;
    margin: 15lvh 5vw 15lvh 5vw;
    color: #ffffff;
}

.Marche h4 {
    color: #F0C753;
    margin: 15px;
}

.MarcheEtapes {
    display: flex;
    gap: 10vw;
}

.MarcheEtape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.MarcheEtape p {
    height: 5lvh;
    text-align: center;
}

.Beelink {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    height: 89lvh;
    padding: 100px;
}

.BeelinkTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    border-radius: 68px;
    border: #F0C753 solid 5px;
    margin: 15lvh 5vw 15lvh 5vw;
    width: 80vw;
    max-width: 100%;
    height: 625px;
    background-image: url(../img/TabBack.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.BeelinkTab h3,
.BeelinkDesc,
.BeelinkStats {
    color: #ffffff;
}

.BeelinkDesc {
    font-size: 30px;
}

.BeelinkTab a {
    text-decoration: none;
}

.BeelinkBouton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0C753;
    gap: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
}

.BeelinkBouton p {
    color: #333333;
    font-weight: bold;
    font-size: 25px;
}

.BeelinkStat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
    width: 10vw;
}

.BeelinkStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.BeelinkStats span {
    color: #F0C753;
    font-size: 40px;
    font-weight: bold;
}

.BeelinkStats p {
    font-size: 20px
}

.BeelinkTab h3 {
    font-size: 60px;
    font-weight: bolder;
}

.BeelinkService {
    color: #8F8F8F;
    font-size: 20px;
}