body {
    background: var(--noir);
}

a {
    text-decoration: none;
}

.Gauche {
    padding: 0 0 15px 190px;
    flex-basis: 50%;
    box-sizing: border-box;
}

.Gauche p {
    width: 30vw;
    margin: 0 0 40px 0;
}

.Droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    box-sizing: border-box;
}

.Droite img {
    max-width: 100%;
    width: 30vw;
}

.Arrow {
    position: absolute;
    max-width: 100%;
    width: 100px;
    height: 100px;
    right: 5%;
    bottom: 20lvh;
    transform: translateY(50%);
    border-radius: 100%;
    background: var(--jaune);
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Arrow div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--noir);
    border-radius: 100%;
    max-width: 100%;
    width: 70px;
    height: 70px;
    transition: transform 0.4s ease, background-color 0.3s ease;
}

.Arrow div svg path {
    transition: stroke 0.3s ease;
}

.Arrow:hover {
    background-color: var(--noir);
    transform: translateY(50%) scale(1.1);
}

.Arrow:hover div {
    transform: translate(-50%, -50%) rotate(360deg);
    background: var(--jaune);
}

.Arrow:hover div svg path {
    stroke: var(--noir);
}

.Home {
    position: relative;
    height: 89lvh;
    display: flex;
    flex-direction: column;
}

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--jaune);
}

.Content h1 {
    color: var(--noir);
}

.Content p {
    color: var(--noir);
}

.Boutons {
    display: flex;
}

.Decouvrir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    color: var(--blanc);
    border-radius: 22px;
    background: var(--noir);
    padding: 15px;
    margin: 0 40px 0 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* Courbe de transition plus stylée */
    cursor: pointer;
}

.Decouvrir svg {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Decouvrir svg path {
    transition: transform 0.3s ease-out;
}

.Decouvrir:hover {
    color: var(--jaune);
}

.Decouvrir:hover svg {
    transform: translateX(10px);
}

.Decouvrir:hover svg path {
    stroke: var(--jaune);
}

.Savoir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 22px;
    border: var(--noir) solid 2px;
    padding: 15px;
    margin: 0 40px 0 0;
    color: var(--noir);
    background-color: transparent;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.Savoir:hover {
    background-color: var(--noir);
    color: var(--blanc);
}

.HomeHero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--noir);
    height: 20lvh;
    gap: 15vw;
}

.HomeHero div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--blanc);
    font-weight: bold;
}

.Explication {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    min-height: 89lvh;
    margin: 50px 5vw;
    scroll-margin-top: 16lvh;
}

.Explication,
.Piliers {
    position: relative;
    overflow: hidden;
}

.honeycomb1 {
    position: absolute;
    top: -50px;
    left: 0;
    max-width: 100%;
    width: 15vw;
    z-index: 10;
}

.honeycomb2 {
    position: absolute;
    max-width: 100%;
    width: 15vw;
    right: 0;
    bottom: -50px;
    top: auto;
    z-index: 10;
}

h3 {
    color: var(--blanc);
}

h2 {
    color: var(--blanc);
    text-align: center;
}

h2 span {
    color: var(--jaune);
}

.ExplicationMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.ExplicationTexte {
    background: var(--jaune);
    border-radius: 20px;
    width: 50vw;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ExplicationLogos div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 72.376px;
    margin: 10px 0;
    background: var(--jaune);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 20px;
}

.ExplicationLogos svg {
    max-width: 80%;
    max-height: 80%;
}

.Piliers {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    height: 89lvh;
    gap: 5lvh;
    margin: 5lvh 5vw 5lvh 5vw;
}

.Piliers svg {
    transform: scale(0.7);
}

.Passion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--noir);
    height: 70lvh;
    gap: 5lvh;
    margin: 5lvh 5vw 5lvh 5vw;
}

.Passion img {
    max-width: 100%;
    width: 40vw;
}

.Passion p {
    color: var(--blanc);
}

.Check {
    font-weight: bold;
    gap: 15px;
    display: flex;
    align-items: center;

}

.PassionDroite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.PassionDroite h2 {
    text-align: left;
}

.Marche {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--noir);
    height: 70lvh;
    margin: 5lvh 5vw 5lvh 5vw;
    color: var(--blanc);
}

.Marche h4 {
    color: var(--jaune);
    margin: 15px;
}

.MarcheEtapes {
    display: flex;
    gap: 10vw;
}

.MarcheEtape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.MarcheEtape p {
    height: 5lvh;
    text-align: center;
}

.Beelink {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--noir);
    height: 100vh;
    padding: 0;
}

.BeelinkTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    max-width: 1400px;
    border-radius: 68px;
    border: var(--jaune) solid 5px;
    margin: auto;
    height: 450px;
    background-image: url(../img/TabBack.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 20px;
}

.BeelinkTab h2 {
    color: var(--blanc);
    font-size: 48px;
    margin-bottom: 5px;
}

.BeelinkTab h3,
.BeelinkDesc {
    color: var(--blanc);
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 40px;
}

.BeelinkTab a {
    text-decoration: none;
}

.BeelinkBouton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--jaune);
    gap: 15px;
    padding: 15px 50px;
    border-radius: 48px;
    cursor: pointer;
    margin-bottom: 50px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.BeelinkBouton p {
    color: var(--noir);
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    transition: color 0.3s ease-in-out;
}

.BeelinkBouton svg path {
    transition: all 0.3s ease-in-out;
}

.BeelinkBouton:hover {
    background: var(--noir);
    border: 2px solid var(--jaune);
}

.BeelinkBouton:hover p {
    color: var(--jaune);
}

.BeelinkBouton svg {
    transition: transform 0.3s ease-in-out;
}

.BeelinkBouton:hover svg {
    transform: translateX(5px);
}

.BeelinkBouton:hover svg path {
    stroke: var(--jaune);
}

.BeelinkStat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
}

.BeelinkStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.BeelinkStats span {
    color: var(--jaune);
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 0;
}

.BeelinkStats p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    line-height: 1.2;
    white-space: nowrap;
}

.BeelinkService {
    color: #8F8F8F;
    font-size: 16px;
    margin-top: 10px;
}

/* Loader Styles */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--noir);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loader-bg {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--jaune);
    border-radius: 50%;
    transform: scale(0);
    z-index: 0;
}

.loader-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: 1;
}

.loader-icon-container {
    position: relative;
    width: 250px;
    height: 250px;
    display: grid;
    place-items: center;
}

#loader-icon-1,
#loader-icon-2,
#loader-icon-3,
#loader-icon-4 {
    grid-area: 1 / 1;
    width: 60%;
    height: auto;
    opacity: 0;
    z-index: 2;
}

#loader-bee {
    grid-area: 1 / 1;
    width: 80%;
    height: auto;
    opacity: 0;
    transform: scale(0);
}

#loader-text {
    font-size: 9rem;
    font-weight: bold;
    color: #000000;
    font-family: inherit;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 1;
}

#loader-text span {
    display: inline-block;
    transform-origin: bottom center;
}

.frise_mobile_img {
    display: none;
}