body {
    background: var(--jaune);
}

.Inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    min-height: 89lvh;
}

.InscriptionForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--noir);
    border-radius: 15px;
    padding: 40px;
    max-width: 100%;
    width: 30vw;
    height: auto;
    max-height: none;
    box-shadow: 0 0 8px var(--noir);
}

.InscriptionForm h3 {
    margin: 0;
}

.InscriptionForm input,
.InscriptionForm textarea {
    background: var(--noir);
    border: var(--jaune) 1px solid;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    color: var(--blanc);
    height: 40px;
}

.InscriptionForm button {
    background: var(--jaune);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 25px 0 0 0;
}

.InscriptionForm input {
    padding: 10px;
}

.InscriptionForm label,
.InscriptionForm h3 {
    color: var(--blanc);
}

.InscriptionForm fieldset {
    border: none;
    padding: 0;
    display: block;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.form-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gauche-trois,
.gauche-deux {
    border-top: var(--noir) 1px solid;
}

span {
    color: var(--jaune);
}