/* utilisation de var css pour assigner couleurs */
:root {
    --jaune: #F0C753;
    --noir: #333333;
    --blanc: #ffffff;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

/*
 * LATO FONT FAMILY
 */

/* Lato Thin (100) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Lato Thin Italic (100) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Lato Light Italic (300) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Lato Light (300) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Lato Regular (400) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Lato Italic (400) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Lato Bold (700) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Lato Bold Italic (700) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Lato Black (900) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Lato Black Italic (900) */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: "Lato Regular", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none; 
}

h1 {
    font-size: 52px;
    color:  var(--noir);
}

h2 {
    font-size: 36px;
    color:  var(--noir);
}

h3 {
    font-size: 24px;
    color:  var(--noir);
}

h4 {
    font-size: 18px;
    color:  var(--noir);
}

p {
    font-size: 16px;
    color:  var(--noir);
}

.blanc {
    color: #ffffff;
}

main {
    flex-grow: 1;
    padding-top: 11lvh;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 11lvh;
    background: var(--jaune);
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px var(--noir);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    background: var(--jaune);
    gap: 50px;
    width: 100%;
}

footer a {
    text-decoration: none;
    font-size: 16px;
    color: var(--noir);
}

.Footer1 {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 40px;
    width: 90%;
    max-width: 85vw;
    align-items: start;
}

.Footer1A,
.Footer2A,
.Footer1B,
.Footer1C,
.Footer1D {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
}

.Footer1A {
    padding-right: 0 20px 0 0;
    max-width: 350px;
}

.Footer2A a,
.Footer1B a,
.Footer1C a {
    margin: 10px 0 0 0;
}

.Footer1DBouton {
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 26px;
    border: var(--noir) solid;
    margin-top: 15px;
    padding: 5px 15px;
    width: fit-content;
    transition: all 0.3s ease-in-out; 
}

.Footer1DBouton:hover {
    background-color: var(--noir);
}

.Footer1DBouton:hover a {
    color: var(--jaune);
}

.Footer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 85vw;
    border-top: 2px solid var(--noir);
    padding-top: 30px;
}

.Footer3A {
    margin: 0;
}

.Footer3B {
    margin: 0;
}

header img {
    margin: 0 0 0 40px;
    max-width: 100%;
    max-height: 100%;
    width: 130px;
}

footer img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
}

header a {
    color: var(--noir);
    text-decoration: none;
    font-size: 16px;
}

.Liens {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.Connecter {
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 22px;
    border: var(--noir) solid 2px;
    padding: 10px;
    margin: 0 40px 0 0;
    cursor: pointer;
    color: var(--noir);

    transition: all 0.3s ease-in-out; 
}

.Connecter svg {
    transition: all 0.3s ease-in-out;
}

.Connecter:hover {
    background-color: var(--noir);
    color: var(--jaune);
}

.Connecter:hover svg {
    stroke: var(--jaune);
}

.ConnecterMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 2s;
    transform: translateX(1000%);
    width: 25vw;
    min-height: 100lvh;
    z-index: 11;
    display: flex;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.9px);
    -webkit-backdrop-filter: blur(12.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.ConnecterMenu-active {
    transform: translateX(0%);
    transition: 0.6s;
}

.cross {
    right: 0;
    position: absolute;
    width: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    display: none;
    cursor: pointer;
}

.cross-active {
    display: flex;
}

.cross span {
    height: 2px;
    width: 15px;
    background-color: var(--noir);
}

.stick-active {
    transform: rotate(45deg) translatex(7px);
    width: 38px;
    transition: 0.4s;
}

.stick2-active {
    transform: rotate(-45deg) translatex(7px);
    width: 38px;
    transition: 0.4s;
}

.fond {
    position: fixed;
    pointer-events: none;
    background-color: var(--noir);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s;
    z-index: 10;
}

.fond-active {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: initial;
}

.ConnecterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    gap: 10px;
}

.ConnecterContent a {
    color: var(--jaune);
}

.ConnecterContent h2,
.ConnecterContent h3 {
    color: var(--noir);
}

.ConnecterContent h3 {
    text-align: center;
    width: 13vw;
}

.ConnecterContent button {
    color: var(--blanc);
    border-radius: 15px;
    background: var(--noir);
    padding: 10px 50px 10px 50px;
    margin: 15px 0 0 0;
}

.ConnecterAdmin {
    border-top: var(--noir) 1px solid;
    padding: 40px 0 0 0;
}

.ConnecterContent form,
.ConnecterContent input {
    border: 0;
    padding: 0;
    float: none;
}

.ConnecterContent form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ConnecterContent input {
    width: 15vw;
    background: 0;
}

.ConnecterInput2a,
.ConnecterInput1 {
    border: var(--noir) 1px solid;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ConnecterInput2a svg,
.ConnecterInput1 svg {
    max-width: 100%;
    padding: 0 15px 0 0;
    width: 21px;
    height: 21px;
    border-right: var(--noir) 1px solid;
}

.ConnecterInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ConnecterContent p {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--noir);
    padding: 10px;
    display: inline-block;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: var(--noir);
    width: 0;
    transition: width 0.2s ease-out;
}

nav a:hover::after {
    width: calc(100% - 20px);
    height: 3px;
}

nav a.active::after {
    width: calc(100% - 20px);
    height: 3px;
}