body {
    background-color: #333333;
}

nav {
    width: 250px;
    padding-top: 20px;
    border-right: 2px solid #F0C753;
    min-height: 90vh;
}

.principal {
    margin-bottom: 20px;
    padding: 0 15px;
}

.gestion {
    margin-bottom: 20px;
    padding: 0 15px;
}

h3 {
    color: #AAAAAA;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.gestion a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;
    margin-bottom: 12px;
}

.principal a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;
    margin-bottom: 12px;
}

.principal div:hover a {
    background-color: #F0C753;
    color: #333333;
}

.gestion div:hover a {
    background-color: #F0C753;
    color: #333333;
}

.accueil a{
    background-color: #F0C753;
    color: #333333;
    border-radius: 4px;
}